.main-screen__dots {
	position: absolute;
	bottom: 65px;
	left: 50%;
	transform: translateX(-50%);
	li {
		font-size: 0;
		width: 14px;
		height: 14px;
		border-radius: 50%;
		border: 2px solid #fff;
		cursor: pointer;
		&:not(:first-child) {
			margin-left: 10px;
		}
		&.slick-active {
			background-color: #fff;
		}
	}
	button {
		background-color: transparent;
		border: none;
	}
}
.team__progress-bar {
	width: 100%;
	&:not(:first-child) {
		margin-top: 10px;
	}
}
.progress-title-holder {
	position: relative;
}

.progress-title {
	font-size: 15px;
	line-height: 25px;
	font-weight: 300;
	color: #ffffff;
	margin-bottom: 11px;
}

.progress-number-mark {
	color: #333333;
	padding: 4px 0;
	font-size: 12px;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 1.2px;
	font-family: "Roboto", sans-serif;
	text-align: center;
	margin-bottom: 15px;
	border-radius: 2.5px;
	background-color: #ffffff;
	position: absolute;
	bottom: 0;
	width: 40px;
	transform: translateX(-50%);
	left: 18px;
	&::before {
		content: "";
		position: absolute;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 6px 8px 0 0;
		border-color: #fff transparent transparent transparent;
		left: 4px;
		bottom: -6px;
	}
}

.progress-content-outter {
	height: 6px;
	background-color: #1c5182;
	border-radius: 2.5px;
	max-width: 324px;
}

.progress-content {
	height: 100%;
	background-color: #fff;
	width: 0%;
	border-radius: 2.5px;
	/* Initial value */
}
.main__hamburger {
	width: 54px;
	height: 25px;
	display: block;
  position: relative;
  top: -4px;
  cursor: pointer;
}
.main__hamburger span {
	display: block;
	position: absolute;
	height: 3px;
	width: 50%;
background-color: #2888e2;
	opacity: 1;
	transform: rotate(0deg);
	transition: 0.25s ease-in-out;
}

.main__hamburger span:nth-child(even) {
	left: 50%;
	border-radius: 0 9px 9px 0;
}

.main__hamburger span:nth-child(odd) {
	left: 0px;
	border-radius: 9px 0 0 9px;
}

.main__hamburger span:nth-child(1),
.main__hamburger span:nth-child(2) {
	top: 0px;
}

.main__hamburger span:nth-child(3),
.main__hamburger span:nth-child(4) {
	top: 12.5px;
}

.main__hamburger span:nth-child(5),
.main__hamburger span:nth-child(6) {
	top: 25px;
}

.main__hamburger.main__hamburger--open span:nth-child(1),
.main__hamburger.main__hamburger--open span:nth-child(6) {
	transform: rotate(45deg);
}

.main__hamburger.main__hamburger--open span:nth-child(2),
.main__hamburger.main__hamburger--open span:nth-child(5) {
	transform: rotate(-45deg);
}

.main__hamburger.main__hamburger--open span:nth-child(1) {
	left: 5px;
	top: 7px;
}

.main__hamburger.main__hamburger--open span:nth-child(2) {
	left: calc(50% - 5px);
	top: 7px;
}

.main__hamburger.main__hamburger--open span:nth-child(3) {
	left: -50%;
	opacity: 0;
}

.main__hamburger.main__hamburger--open span:nth-child(4) {
	left: 100%;
	opacity: 0;
}

.main__hamburger.main__hamburger--open span:nth-child(5) {
	left: 5px;
	top: 29px;
}

.main__hamburger.main__hamburger--open span:nth-child(6) {
	left: calc(50% - 5px);
	top: 29px;
}
